<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".android.AndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_color"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_color_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".android.MainActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityColor"
            android:targetActivity=".android.MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_color"
            android:roundIcon="@mipmap/ic_launcher_color_round"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityMono"
            android:targetActivity=".android.MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_mono"
            android:roundIcon="@mipmap/ic_launcher_mono_round"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
